{% extends "wiki/base_site.html" %}
{% load sekizai_tags %}

{% block wiki_site_title %}{% endblock %}

{% block wiki_header_branding %}

{% addtoblock "css" %}
<style>
.navbar-inverse{
  background-color:#faf4cf;
  border-color:#e3daa1;
}
.navbar-inverse .navbar-nav>li
{
  background-color:#faf4cf;
  color:#222;
}
.navbar-inverse .navbar-nav>li>a:hover
{ 
  background-color:#e3daa1;
  color:#222;
}
.navbar-inverse .navbar-nav>.active>a
{
  background-color:#e3daa1;
  color:#222;
}
.navbar-inverse .navbar-nav>.active>a:hover
{
  background-color:#faf4cf;
  color:#222;
}
.ckicon {
  padding: 6px;
  width: 50px;
}
.ckicon:hover {
  padding: 0px 6px 0px;
  content:url("https://www.cryptokitties.co/icons/logo-hover.gif");
}
figure.small table,
figure.small table>tbody>tr>td,
figure.medium table,
figure.medium table>tbody>tr>td 
{
  border:0;
}
figure.small {
  width:160px;
}
figure.small>img {
  width:150px;
}
figure.medium {
  width:360px;
}
figure.medium>img {
  width:350px;
}
</style>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105317243-2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-105317243-2');
</script>
{% endaddtoblock %}

<a href="https://www.cryptokitties.co/" target="_blank">
<img class="ckicon" src="https://www.cryptokitties.co/icons/logo.svg">
</a>

{% endblock %}

{% block wiki_header_navlinks %}

<ul class="nav navbar-nav">
  <li><a href="{% url 'wiki:root' %}">Wiki</a></li>
  <li><a href="https://cryptokitties411.com/">CryptoKitties 411</a></li>
</ul>

{% endblock %}

{% block wiki_footer_logo %}

{% addtoblock "css" %}
<style>.ckwiki-footer{float:right;}.ckwiki-footer img{height:58px;}</style>
{% endaddtoblock %}

<div class="ckwiki-footer">
<a href="https://discordapp.com/invite/3GvT66U" target="_blank">
<img src="https://discordapp.com/assets/2c21aeda16de354ba5334551a883b481.png">
</a>
</div>
{% endblock %}

