{% extends "wiki/base_site.html" %}
{% load sekizai_tags %}

{% block wiki_site_title %}{% endblock %}

{% block wiki_header_branding %}

{% addtoblock "css" %}
<style>
.navbar-inverse{
  background-color:#faf4cf;
  border-color:#e3daa1;
}
.navbar-inverse .navbar-nav>li
{
  background-color:#faf4cf;
  color:#222;
}
.navbar-inverse .navbar-nav>li>a:hover
{ 
  background-color:#e3daa1;
  color:#222;
}
.navbar-inverse .navbar-nav>.active>a
{
  background-color:#e3daa1;
  color:#222;
}
.navbar-inverse .navbar-nav>.active>a:hover
{
  background-color:#faf4cf;
  color:#222;
}
.ckicon {
  padding: 6px;
  width: 50px;
}
.ckicon:hover {
  padding: 0px 6px 0px;
  content:url("https://www.cryptokitties.co/icons/logo-hover.gif");
}
figure.thumbnail {
  width:22%;
  min-width:150px;
}
figure.small table,
figure.small table>tbody>tr>td,
figure.medium table,
figure.medium table>tbody>tr>td 
{
  border:0;
  padding: 4px 8px 4px;
}
figure.small {
  width:18%;
  min-width:100px;
}
figure.medium {
  width:28%;
  min-width:200px;
}
div.article-list,
div.toc {
  float:left;
  margin:0 10px 10px;
  /*padding-right: 18px;*/
}
.wiki-article figure.pull-right {
  clear: right;
}
.wiki-article .thumbnail-inline {
  border: 1px solid #ddd;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px;
}
.wiki-article .thumbnail-inline>img {
  max-width: 100%;
}
.clearBoth {
  clear: both;
}
h2.rainbow {
  background: linear-gradient(to right, #f3ff03 5%, #5d71ff 25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #42463445;
}
</style>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105317243-2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-105317243-2');
</script>
{% endaddtoblock %}

<a href="https://www.cryptokitties.co/" target="_blank">
<img class="ckicon" src="https://www.cryptokitties.co/icons/logo.svg">
</a>

{% endblock %}

{% block wiki_header_navlinks %}

<ul class="nav navbar-nav">
  <li><a href="{% url 'wiki:root' %}">Wiki</a></li>
  <li><a href="https://cryptokittydex.com/" target="_blank">CryptoKittydex</a></li>
  <li><a href="https://ckwallet.online" target="_blank">CK wallet</a></li>
  <li><a href="https://www.kitty.fyi/" target="_blank">Kitty.fyi</a></li>
  <li><a href="https://kittycalc.co/" target="_blank">KittyCalc.co</a></li>
</ul>

{% endblock %}

{% block wiki_footer_logo %}

{% addtoblock "css" %}
<style>.ckwiki-footer{float:right;}.ckwiki-footer img{height:58px;}</style>
{% endaddtoblock %}

<div class="ckwiki-footer">
<a href="https://discordapp.com/invite/3GvT66U" target="_blank">
<img src="https://discordapp.com/assets/2c21aeda16de354ba5334551a883b481.png">
</a>
</div>

{% addtoblock "js" %}
<script>
  function parseKittyFYI() {
    var cls = $(".kittyFYI");
    if (cls.length != 0) {
      var pdfPath = cls.html();
      cls.html(`<iframe src="${pdfPath}" width="980" height="800" frameBorder="0" allowfullscreen></iframe>`);
    }
  }
  $(document).ready(parseKittyFYI);
</script>
{% endaddtoblock %}

{% endblock %}

